# Cloud Models (Gemini 3.5 Flash-Lite & Gemini 3.1 Flash-Lite)
# Required for NULL, Alex, and CoreX
GOOGLE_API_KEY="api key"

# Local Models (Ministral 8B & Qwen3-4B)
LOCAL_LLM_BASE_URL=http://127.0.0.1:11434

# Techno API Caller (RSRoute Gateway)
RSROUTE_BASE_URL=http://0.0.0.0:8000/

# Use Your Best Model for it.
NULL_MODEL="gemini-3.5-flash-lite"

# Alex & CoreX - Changeable in future, 120B+ recommanded
ALEX_MODEL="gemini-3.1-flash-lite"
COREX_MODEL="gemini-3.1-flash-lite"

# Techno & Cod - Local Guys, Can be Changed to cloud by changing them to Google or any Other provider
TECHNO_MODEL="kamekichi128/qwen3-4b-instruct-2507:latest" # 2.5GB Model
COD_MODEL="ministral-3:8b" # 6.0GB Model, replacable with llama3.1:8B 4.9GB
